.suggestionsSaveButton {
  background-color: #26589F;
  color: #fff;
  border: medium none;
  border-radius: 5px;
  border-spacing: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  width: 100%;
  height: 2rem;
}