.suggestionsContainer {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.suggestionsSaveButton {
  background-color: #26589f;
  color: #fff;
  border: medium none;
  border-radius: 10px;
  border-spacing: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  width: 100%;
  height: 2.5rem;
  cursor: pointer;
}
